/* 

.input__password {
  width: 100%;
  height: 100%;
  border: none;
  border-width: 0px;
  padding-top: 15px;
  outline: none;
  font-size: 18px;
  color: #323c46;
  padding-left: 5px;
  background-color: #F2F2F2;
}

.label-password {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0%;
  pointer-events: none;
  border-bottom: 2px solid #dae1e7;
  color: #c9ced3;
}
#label{
  color: red;
}


.content-password {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form__container-password input:focus + .label-password .content-password,
.form__container-password input:valid + .label-password .content-password {
  transform: translateY(-150%);
  font-size: 14px;
  color: #c9ced3;
}

.form__container-password input:focus + .label-password::after,
.form__container-password input:valid + .label-password::after {
  transform: translateX(0%);
}



form{
  margin-bottom: 2em;
} */
.icon-eye {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0%;
  right: 12px;
  border-bottom: 2px solid #dae1e7;
  color: #c9ced3;
  cursor: pointer;
}

.icon_holder {
  position: absolute;
  top: 20px;
  right: 280px;
}
.form__container-password {
  position: relative;
}
